<?xml version='1.0' encoding='utf-8'?>
<widget id="se.oskarwalker.withotherwords" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WithOtherWords</name>
    <description>
        An Apache Cordova application for the game With other words
    </description>
    <author email="oskar_walker@hotmail.com" href="https://oskarwalker.se">
        Oskar Walker, David Dokakis Brunnberg and Daniel Hidesten
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.3.1" />
</widget>
