* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  outline: 0;

  transition: 0.2s all ease-in-out;
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {

}

#render-target {
  width: 100%;
  height: 100vh;
}

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

a, button {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a, button, input, p, span, h1, h2, h3, select {
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
}

.timer {
  fill: none;
  stroke: #FFCC00;
  stroke-width: 17;
  transform: rotateZ(-90deg);
  transform-origin: center;
  stroke-dashoffset: 686;
  stroke-dasharray: 343;
  
  animation-name: timerFill;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.timer-bg {
  fill: none;
  stroke: rgba(23, 23, 23, 0.04);
  stroke-width: 17;
}

@keyframes timerFill {
  65% {
    stroke: #FFCC00;
  }

  100% {
    stroke-dashoffset: 343;
    stroke: #ff3333;
  }
}

.timer-svg {
  width: 100vw;
  height: 50vh;
}

.game-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.timer-content {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

.timer-content > span:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-content .current-word {
  font-size: 20px;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.dialog-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0px;
  animation: fadeInOverlay 0.1s ease-in-out forwards;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

.dialog-container,
.confirm-dialog-container {
  width: 70%;
  display: block;
  min-height: 150px;
  border-radius: 15px;
  background-color: white;
  animation: fadeInContent 0.15s ease-in-out forwards;
}

.confirm-dialog-container {
  min-height: 110px;
}

@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
   opacity: 1;
   transform: scale(1);
  }
}

.dialog-container-error {
  animation: fadeInContent 0.15s ease-in-out forwards, errorShake 0.25s ease-in-out;
}

@keyframes errorShake {
  0% {
    transform: translateX(0px);
  }

  5% {
    transform: translateX(-4px);
  }

  10% {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(4px);
  }

  30% {
    transform: translateX(0px);
  }

  70% {
    transform: translateX(0px);
  }

  80% {
    transform: translateX(-4px);
  }

  90% {
    transform: translateX(0px);
  }
}

.dialog-content,
.confirm-dialog-content {
  padding: 10px;
}

.confirm-dialog-content {
  height: 110px;
}

.confirm-dialog-content p {
  line-height: 55px;
  text-align: center;
}

.dialog-content h2 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
  color: #7d7d7d;
  margin-top: 5px;
}

.dialog-content input[type="text"] {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  font-size: 26px;
  letter-spacing: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ffb83c;
  text-align: center;
}

.dialog-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dialog-container > div {
  height: 150px;
}

.dialog-button {
  width: 50%;
  height: 40px;
  font-size: 14px;
  border: none;
  background: none;
  color: #FFB83C;
  border-top: 1px solid #eee;
}

.dialog-button--left {
  border-right: 1px solid #eee;
}

.start-buttons {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 10px;
}

.start-buttons button {
  margin-bottom: 10px;
}

.button-big:active,
.button-big:focus {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.button-big {
  width: calc(100% - 20px);
  font-size: 18px;
  border: none;
  background: none;
  background-color: #FFB83C;
  color: white;
  border-radius: 13px;
  height: 50px;
  transition: background-color 0.15s ease-in-out;
}

.button-big[disabled] {
  background-color: #ffedcc;
}

.button-skip {
  background-color: red;
}

.button-point {
  background-color: #4dd67d;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  left: 50%;
  margin-left: -70px;
}

.button-point-note {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
}

.button-bottom,
.info-text-bottom {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.info-text-bottom {
  text-align: center;
  width: 100%;
  bottom: 20px;
  left: 0px;
}

.generic-text-input {
  width: 90%;
  font-size: 18px;
  height: 40px;
  border: none;
  background: none;
  padding-bottom: 5px;
  border-radius: 0px;
  border-bottom: 2px solid #FFB83C;
}

.generic-select-input {
  height: 40px;
  padding: 0px 15px;
  font-size: 22px;
  -webkit-appearance: none;
  border: none;
  background: none;
  border-radius: 0px;
  text-align: center;
  border-bottom: 2px solid #FFB83C;
  color: grey;
}

.generic-select-input[disabled] {
  border-bottom: none;
}

.select-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.select-arrow svg {
  width: 15px;
  height: 15px;

  transform-origin: center center;
  transform: rotateZ(-90deg);
}

.game-rounds-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-name-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.team-name-form .note {
  margin-bottom: 35px;
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

.ios .back-button {
  padding-top: 15px;
}

.back-button-button,
.button-header {
  border: none;
  background: none;
  color: #FFB83C;
  font-size: 14px;
  height: 40px;
  font-weight: 400;
}

.back-button svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.back-button-tick {
  fill: none;
  stroke: #FFB83C;
  stroke-width: 25;
}

.ios .button-header {
  padding-top: 15px;
  height: 55px;
}

.button-header {
  position: absolute;
  right: 15px;
  top: 0px;
}

.button-right {

}

.players {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.player-list-item {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.2);
  height: 80px;
}

.winner .players {
  margin-top: 0px;
}

.winner h1 {
  width: 100%;
  background-color: #4dd67d;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}

.winner .player-list-item {
  background-color: #4dd67d;
  color: white;
  height: auto;
  padding-top: 10px;
  padding-bottom: 15px;
}

.winner .player-team {
  color: white;
}

.winner .player-points-label {
  color: white;
}

.winner .player-points-wrapper {
  position: relative;
}

.player-team {
  color: #95989a;
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
  font-size: 14px;
  font-weight: 200;
}

.player-name {
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
  font-size: 16px;
  font-weight: 200;
}

.player-points-wrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-points {
  font-size: 36px;
  font-weight: 300;
}

.player-points-label {
  color: #95989a;
  font-size: 12px;
  font-weight: 200;
}

.note {
  text-align: center;
  font-style: 14px;
  color: #95989a;
}

.sub-note,
.top-note {
  width: 100%;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.sub-note {
  margin-top: 5px;
  margin-bottom: 15px;
}

.top-note {
  margin-top: 15px;
  margin-bottom: 5px;
}

.game-code {
  width: 100%;
  font-size: 42px;
  letter-spacing: 10px;
  color: grey;
  text-align: center;
  background: none;
  border: none;
}

.pagePop-enter {
  z-index: 0;
  transform: translateX(-30%);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4)
}

.pagePop-enter.pagePop-enter-active {
  transform: translateX(0%);
  transition: transform 200ms ease-in;
}

.pagePop-leave {
  z-index: 10;
  transform: translateX(0%);
}

.pagePop-leave.pagePop-leave-active {
  transform: translateX(100%);
  transition: transform 200ms ease-in;
}

.pagePush-enter {
  z-index: 10;
  transform: translateX(100%);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4)
}

.pagePush-enter.pagePush-enter-active {
  transform: translateX(0%);
  transition: transform 200ms ease-in;
}

.pagePush-leave {
  z-index: 0;
  transform: translateX(0%);
}

.pagePush-leave.pagePush-leave-active {
  transform: translateX(-30%);
  transition: transform 200ms ease-in;
}

.ios .game-error {
  height: 55px;
  padding-top: 15px;
}

.game-error {
  height: 40px;
  width: 100vw;
  font-size: 14px; 
  line-height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  text-align: center;
  color: white;
  font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica';
  background-color: crimson;
  transform: translateY(-100%);
  transition: 0.2s transform ease-in-out;
}

.game-error--visible {
  transform: translateY(0%);
}

.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #f3f3f3;
}

.game-page {

}

.game-page.game-page--loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.start-header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 60px;
  text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.info-link {
  display: block;
  width: 100vw;
  text-align: center;
  font-weight: 300;
  color: #FFB83C;
  margin-top: 15px;
  z-index: 1;
}

.help-dialog-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.ios .referee-game-page {
  padding-top: 55px;
}

.referee-game-page {
  padding-top: 40px;
  height: 100vh;
}

.referee-game-page-content {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.current-word-referee {
  width: 100%;
  display: block;
  font-size: 20px;
  margin: 60px 0px;
  text-align: center;
}

.player-game-page {

}

.countdown-digits,
.game-meta-points {
  font-size: 26px;
  text-align: center;
  display: block;
  font-weight: 400;
}

.game-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 20px;
}

.game-meta section {
  width: 50%;
}

.game-meta-label {
  display: block;
  text-align: center;
  color: grey;
}

svg.spinner {
  width: 52px;
  height: 52px;
  x: 0px;
  y: 0px;
  viewBox: 0 0 52 52;
}

.loading-spinner-background {
  fill: none;
  stroke: rgba(23, 23, 23, 0.04);
  stroke-width: 2;
}

.loading-spinner-foreground {
  fill: none;
  stroke: #FFCC00;
  stroke-width: 2;
  stroke-dasharray: 157;
  stroke-dashoffset: 70;
  stroke-linecap: round;
  transform-origin: center;
  animation: loadingSpinner 4s linear infinite;
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.help-dialog-content {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: #f3f3f3;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.help-dialog-content h1 {
  line-height: 1.7;
}

.help-dialog-content p {
  line-height: 1.3;
  margin-bottom: 15px;
  
}

.help-dialog-content blockquote {
  text-align: center;
  background-color: #d9d9d9;
  padding: 15px 5px 1px 5px;
  margin-bottom: 15px;
  border-left: 5px solid #a6a6a6; 
}

.help-dialog-content .button-header {
  position: fixed;
  background-color: #f3f3f3;
  display: block;
  width: 100%;
  text-align: right;
}

.illustrations img:first-child {
  margin-left: 0;
}

.illustrations img {
  max-width: 45%;
  margin-left: 10%;
}

.help-dialog-container {
  width: 100vw;
  height: 100vh;
  display: block;
  min-height: 150px;
  background-color: white;
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.turns-left {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 16px;
  color: #95989a;
}